@model IEnumerable<jungleSafariWeb.ViewModel.ParkView>

@{
    ViewBag.Title = "Index";
}

<h2 style="margin-top:30px" class="container body-content text-center font-weight-bold bg-light">Update Vehicle Data</h2>

<div class="container body-content bg-light">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>

                <td>
                    @Html.ActionLink("Update Vehicles Data", "IndexUp", "Vehicles", new { id = item.ParkId }, null)

                </td>
            </tr>
        }

    </table>
</div>