@model IEnumerable<jungleSafariWeb.ViewModel.VehicleView>

@{
    ViewBag.Title = "IndexUp";
}

<h2 style="margin-top:50px" class="container body-content text-center font-weight-bold bg-light">Upadate Vehicle Data</h2>

<div class="container body-content bg-light">

    <p>
        @Html.ActionLink("Create New", "Create", new { id = @Model.First().ParkId })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.VId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.VId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.VId })
                </td>
            </tr>
        }

    </table>
</div>