@model jungleSafariWeb.ViewModel.SafariDetailView

@{
    ViewBag.Title = "Details";
}

<h2 style="margin-top:150px" class="container body-content text-center font-weight-bold bg-light">Safari Details</h2>

<div class="container body-content bg-light">

    <div>
        <h4>SafariDetail</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SafariName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SafariName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SafariDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SafariDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SafariTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SafariTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SafariCost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SafariCost)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.SafariId }) |
        @Html.ActionLink("Back to List", "Index", "Bookings")
    </p>
</div>