@model IEnumerable<jungleSafariWeb.ViewModel.SafariDetailView>


<h2 style="margin-top:150px" class="container body-content text-center font-weight-bold bg-light">Available Safari</h2>

<div class="container body-content bg-light">


    @if (Request.Cookies["rolename"].Value == "Admin")
    {
    <p>
        @Html.ActionLink("Create New", "Create", "Manage");
    </p>

    }




    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SafariName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SafariDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SafariTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SafariCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fee)
            </th>

            @if (Request.Cookies["rolename"].Value == "Admin")
            {
                <th>Actions</th>

            }




        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SafariName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SafariDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SafariTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SafariCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fee)
                </td>

                @if (Request.Cookies["rolename"].Value == "Admin")
                {

                <td>


                    @Html.ActionLink("Edit", "Edit", "Manage", new { id = item.SafariId }, null) |
                    @Html.ActionLink("Details", "Details", "Manage", new { id = item.SafariId }, null) |
                    @Html.ActionLink("Delete", "Delete", "Manage", new { id = item.SafariId }, null)

                </td>


                }





            </tr>
        }

    </table>
</div>
